{% extends 'base.html' %}

{% block content %}
<h1>Styles</h1>
<p>Click on a style to view beers of that style and breweries that craft it</p>
<br>
<table class="sortable">
  <tr>
    <th>Style Name</th>
    <th>Place of Origin</th>
    <th>Color</th>
    <th>Taste</th>
    <th>Popularity</th>
  </tr>

  {% if search %}
  {% for style in styles %}
  <tr>
    <th><a href="/style/info/{{ style.id }}">{{ style.name }}</a></th>
    <th>{{ style.origin }}</th>
    <th>{{ style.color }}</th>
    <th>{{ style.taste }}</th>
    <th>{{ style.pop }}</th>
  {% endfor %}

  {% else %}
  {% for style in styles.items %}
  <tr>
    <th><a href="/style/info/{{ style.id }}">{{ style.name }}</a></th>
    <th>{{ style.origin }}</th>
    <th>{{ style.color }}</th>
    <th>{{ style.taste }}</th>
    <th>{{ style.pop }}</th>
  {% endfor %}
  {% endif %}

  </tr>
</table>

{% if styles.has_prev %}<a href="{{ url_for('styles') }}/{{styles.prev_num}}">Prev</a>{% else %}{% endif %} |
{% if styles.has_next %}<a href="{{ url_for('styles') }}/{{styles.next_num}}">Next</a>{% else %}{% endif %}

<br>
{% endblock %}
