{% extends 'base.html' %}

{% block content %}
<h2 align="center">{{ style.name }}</h2>
<hr>
<table class="table">
  <tr>
    <th>Place of Origin</th>
    <th>Color</th>
    <th>Taste</th>
    <th>Popularity</th>
  </tr>
  <tr>
    <th>{{ style.origin }}</th>
    <th>{{ style.color }}</th>
    <th>{{ style.taste }}</th>
    <th>{{ style.pop }}</th>
  </tr>
</table>

<br>
<h4 align="center">Beers of this Style</h4>
<table class="table" align='center'>
  <tr>
    <th>Beer</th>
    <th>Brewery</th>
  </tr>
  {% for beer in beers %}
  <tr>
    <th><a href="/beers/info/{{ beer.id }}">{{ beer.name }}</a></th>
    <th><a href="/brewery/info/{{ beer.brewery }}">{{ db.session.query(Brewery).filter_by(id=beer.brewery).first().name }}</a></th>
  </tr>
  {% endfor %}
</table>
{% endblock %}
