{% extends 'base.html' %}

{% block content %}
<h1>Beers</h1>
<br>
<table class="sortable">
  <tr>
    <th class="sorttable_alpha">Beer Name</th>
    <th>Style</th>
    <th>Alcohol by Volume</th>
    <th>Serving Size (OZ.)</th>
    <th>Brewery</th>
    <th>Description</th>
  </tr>

  {% if search %}
  {% for beer in beers %}
  <tr>
    <th><a href="/beers/info/{{ beer.id }}">{{ beer.name }}</a></th>
    <th><a href="/style/info/{{ db.session.query(Style).filter_by(name=beer.style).first().id }}">{{ beer.style }}</a></th>
    <th>{{ beer.abv }}</th>
    <th>{{ beer.ounces }}</th>
    <th><a href="/brewery/info/{{ beer.brewery }}">{{ db.session.query(Brewery).filter_by(id=beer.brewery).first().name }}</a></th>
    <th>{{ beer.description }}</th>
  {% endfor %}

  {% else %}
  {% for beer in beers.items %}
  <tr>
    <th><a href="/beers/info/{{ beer.id }}">{{ beer.name }}</a></th>
    <th><a href="/style/info/{{ db.session.query(Style).filter_by(name=beer.style).first().id }}">{{ beer.style }}</a></th>
    <th>{{ beer.abv }}</th>
    <th>{{ beer.ounces }}</th>
    <th><a href="/brewery/info/{{ beer.brewery }}">{{ db.session.query(Brewery).filter_by(id=beer.brewery).first().name }}</a></th>
    <th>{{ beer.description }}</th>
  {% endfor %}
  {% endif %}

  </tr>
</table>

{% if beers.has_prev %}<a href="{{ url_for('beers') }}/{{beers.prev_num}}">Prev</a>{% else %}{% endif %} |
{% if beers.has_next %}<a href="{{ url_for('beers') }}/{{beers.next_num}}">Next</a>{% else %}{% endif %}

<br>
{% endblock %}
