
{% extends 'base.html' %}

{% block content %}
<h2 align="center">{{ beer.name }}</h2>
<hr>
<table class="table">
  <tr>
    <th>Style</th>
    <th>Alcohol by Volume</th>
    <th>Serving Size (OZ.)</th>
    <th>Brewery</th>
    <th>Description</th>
  </tr>
  <tr>
    <th>{{ beer.style }}</th>
    <th>{{ beer.abv }}</th>
    <th>{{ beer.ounces }}</th>
    <th>{{ beer.brewery }}</th>
    <th>{{ beer.description }}</th>
</table>

<br>
<h4 align="center">Brewery and Style</h4>
<table class="table" align='center'>
  <tr>
    <th>Brewery</th>
    <th>Style</th>
  </tr>
  <tr>
    <th><a href="/brewery/info/{{ beer.brewery }}">{{ beer.brewery }}</a></th>
    <th><a href="/style/info/{{ style.id }}">{{ beer.style }}</a></th>
  </tr>
</table>
{% endblock %}
