{% extends 'base.html' %}

{% block content %}
<h1>Breweries</h1>
<p>Click on a brewery to view beers and the styles that it crafts</p>
<br>
<table class="sortable">
  <tr>
    <th>Brewery Name</th>
    <th>City</th>
    <th>State</th>
    <th>Year Established</th>
  </tr>

  {% if search %}
  {% for brewery in breweries %}
  <tr>
    <th><a href="/brewery/info/{{ brewery.id }}">{{ brewery.name }}</a></th>
    <th>{{ brewery.city }}</th>
    <th>{{ brewery.state }}</th>
    <th>{{ brewery.year }}</th>
  {% endfor %}

  {% else %}
  {% for brewery in breweries.items %}
  <tr>
    <th><a href="/brewery/info/{{ brewery.id }}">{{ brewery.name }}</a></th>
    <th>{{ brewery.city }}</th>
    <th>{{ brewery.state }}</th>
    <th>{{ brewery.year }}</th>
  {% endfor %}
  {% endif %}

  </tr>
</table>

{% if breweries.has_prev %}<a href="{{ url_for('breweries') }}/{{breweries.prev_num}}">Prev</a>{% else %}{% endif %} |
{% if breweries.has_next %}<a href="{{ url_for('breweries') }}/{{breweries.next_num}}">Next</a>{% else %}{% endif %}

{% endblock %}
