{% extends 'base.html' %}

{% block content %}
<h2 align="center">{{ brewery.name }}</h2>
<hr>
<table class="table">
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Year Established</th>
  </tr>
  <tr>
    <th>{{ brewery.city }}</th>
    <th>{{ brewery.state }}</th>
    <th>{{ brewery.year }}</th>
  </tr>
</table>

<h4 align="center">Beers and Styles Brewed</h4>
<table class="table" align='center'>
  {% for beer in beers %}
  <tr>
    <th><a href="/beers/info/{{ beer.id }}">{{ beer.name }}</a></th>
    <th><a href="/style/info/{{ db.session.query(Style).filter_by(name=beer.style).first().id }}">{{ beer.style }}</a></th>
  </tr>
  {% endfor %}
</table>

{% endblock %}
