{% extends 'base.html' %}

{% block head %}
<style type="text/css">
	.bio-pic {
		width: 200px;
		height: 200px;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<h1>About Bytes and Beers</h1>

		<div class="card-deck mb-5 mt-5">
		  <div class="card">
		    <img class="card-img-top img-thumbnail bio-pic" src="{{ url_for('static', filename='images/About/About_Andrew.jpg') }}" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Andrew Fedele</h5>
		      <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
		      <p class="card-text">Senior math major at UT who enjoys sports and video games.</p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top img-thumbnail bio-pic" src="{{ url_for('static', filename='images/About/About_Riley.jpg') }}" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Riley Moynihan</h5>
		      <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
		      <p class="card-text">Junior MIS major with a data science focus, also plays instruments and does photography.</p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top img-thumbnail bio-pic" src="{{ url_for('static', filename='images/About/About_Chris.jpg') }}" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">Chris Charnecki</h5>
		      <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
		      <p class="card-text">Senior Mathematics major interested in software engineering and video game development.</p>
		    </div>
		  </div>

		  <div class="w-100 d-lg-none mt-4"></div>

			  <div class="card">
			    <img class="card-img-top img-thumbnail bio-pic" src="{{ url_for('static', filename='images/About/About_Nick.jpg') }}" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Nick Zhao</h5>
			      <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
			      <p class="card-text">Math major junior</p>
			    </div>
			  </div>
			  <div class="card">
			    <img class="card-img-top img-thumbnail bio-pic" src="{{ url_for('static', filename='images/About/About_Sid.jpg') }}" alt="Card image cap">
			    <div class="card-body">
			      <h5 class="card-title">Siddarth Satish</h5>
			      <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
			      <p class="card-text">Junior Computational Biology major who enjoys long walks in the park and cold lemonade.</p>
			    </div>
			  </div>
		</div>

	<h2>Repo Stats</h2>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Commits</th>
			<th>Issues</th>
			<th>Unit Tests</th>
		</tr>
		<tr>
			<td>Andrew</td>
			<td>{{ 36 }}</td>
			<td>{{ context[1]['Andrew'] }}</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Riley</td>
			<td>{{ 36 }}</td>
			<td>{{ context[1]['Riley Moynihan'] }}</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Chris</td>
			<td>{{ 27 }}</td>
			<td>{{ context[1]['Chris Charnecki'] }}</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Nick</td>
			<td>{{ 13 }}</td>
			<td>{{ context[1]['zhaonic'] }}</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Siddarth</td>
			<td>{{ 15 }}</td>
			<td>{{ context[1]['Siddarth Satish'] }}</td>
			<td>4</td>
		</tr>
	</table>

	<div class="row justify-content-center mt-5">
		<div class="col-sm-4">
			<h2>Links:</h2>
			<h4>
			<ul>
				<li><a href="https://gitlab.com/andrewfedele/cs329e-idb/issues">GitLab Issue Tracker</a></li>
				<li><a href="https://gitlab.com/andrewfedele/cs329e-idb">GitLab Repository</a></li>
				<li><a href="https://gitlab.com/andrewfedele/cs329e-idb/wikis">GitLab Wiki</a></li>
				<li><a href="./test">Tests</a></li>
				<li><a href="https://speakerdeck.com/andrewfedele/software-engineering-presentation">SpeakDeck Presentation</a></li>
			</ul>
			</h4>
		</div>

		<div class="col-sm-4">
			<h2>Data Sources:</h2>
			<h4>
			<ul>
				<li><a href="https://www.kaggle.com/nickhould/craft-cans">Beer Data</a></li>
			</ul>
			</h4>
		</div>

		<div class="col-sm-4">
			<h2>Tools Used:</h2>
			<h4>
			<ul>
				<li><a href="http://flask.pocoo.org/">Flask</a> - Backend</li>
				<li><a href="https://getbootstrap.com/">Bootstrap</a> - Frontend</li>
				<li><a href="https://gitlab.com/">GitLab</a> - Version Control</li>
				<li><a href="https://cloud.google.com/">Google Cloud Platform</a> - Hosting</li>
			</ul>
			</h4>
		</div>
	</div>
</div>
{% endblock %}
