<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Bytes and Beers</title>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.css') }}">

        {% block head %}{% endblock %}

    </head>
    <body class="body">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #262626">
		  <a class="navbar-brand" href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/beers">Beers</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/breweries">Breweries</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/styles">Styles</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/search">Search</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">About B&B</a>
		      </li>
		    </ul>
		  </div>
		</nav>
        <div style="padding: 25px 25px 25px 25px">
	        {% block content %}{% endblock %}
	    </div>
	    <div class="footer">
        <hr>
        <p align='center'>&copy; Group 10 - Spring 2019</p>
	    </div>
    </body>
</html>
