<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8"/>
      <title>Bytes and Beers</title>

      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body class="body"  style="background: url(../static/images/Splash/background.jpg) no-repeat center center fixed; background-size: cover;">
      <div>
        <div style="float: left; position: relative; top: 50px; right: -125px;">
          <h1 style="font-size:96px; font-family: Courier New">Bytes</h1>
          <h1 style="font-size:36px">and</h1>
          <h1 style="font-size:121px; font-family: cursive">Beers</h1>
        </div>
        <div style="float: right; position: relative; top: 125px; right: 155px;">
          <h1 style="font-size: 49px; font-style: italic;">Explore</h1><hr>
          <h1 style="font-size: 36px"><a href="/beers">Beers</a></h1>
          <h1 style="font-size: 36px"><a href="/breweries">Breweries</a></h1>
          <h1 style="font-size: 36px"><a href="/styles">Styles</a></h1>
          <h1 style="font-size: 36px"><a href="/search">Search</a></h1>
          <hr>
          <h1 style="font-size: 25px"><a href="/about">About B&B</a></h1>
          <p style="color: gray; font-size: 10px">&copy; Group 10 - Spring 2019</p>
        </div>
	    </div>
    </body>
</html>

<!--<div>
  <div style="padding: 25px 25px 25px 25px">
  <h1>Bytes and Beers</h1>
  <h3>A programmatic approach to craft beers</h3>
  </div>
  <br>
  <div class="shadow-lg p-3 mb-5 rounded" style="background-color: rgba(147, 88, 54, 0.5); opacity: .6">
    <div id="indexCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/images/Home/rainbow.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/images/Home/beerline.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/images/Home/bottles.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/images/Home/twobeers.png" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/images/Home/golden_liquid.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>-->
