{% extends 'base.html' %}

{% block content %}
<h1>Search</h1>
<br>
<form class="form" action="{{ url_for('search')}}" method="post">
  <div class="form-group">
    Query:<br>
    <input type="text" name="query"><br>
  </div>

  <div class="radio">
    Looking for:<br>
    <input type="radio" name="class" value="beer" checked> Beers<br>
    <input type="radio" name="class" value="brewery"> Breweries<br>
    <input type="radio" name="class" value="style"> Styles<br>
    <br>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
<p>{{ message }}</p>
{% endblock %}
